@import "../variables/variables.scss";
.mainmenu {
    background-color: $background-color;
    text-align: start;
    width: 100%;
    .mainmenu-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        .dropdown-item {
            background-color: $background-color1;
            color: $background-color2;
            font-weight: 600;
            &::after {
                color: white;
                background-color: $background-color2;
            }
            &:hover {
                background-color: $background-color;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .mainmenu-content {
        z-index: 5;
        .mainmenu-item {
            font-size: 14px;
        }
    }
}
