@import "../variables/variables.scss";
    .mainmenu-content {
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        z-index: 5;
        background-color: #d4f0f0;
        text-align: start;
        padding-left: 5rem;
        .dropdown-item {
            background-color: #d4f0f0;
            color: $background-color2;
            font-weight: 600;
            &::after {
                color: white;
                background-color: #d4f0f0;
            }
            &:hover {
                background-color: #d4f0f0;
            }
        }
        .me-auto{
            background-color: #d4f0f0;
        }
    }



@media screen and (max-width: 1400px) {
    .mainmenu-content {
        z-index: 5;
        .mainmenu-item {
            font-size: 14px;
        }
    }
}
