.img-product {
    width: 300px;
    height: 400px;
    display: flex;
}
.card-newarrivals {
    margin: 20px;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px; 
}
.newarrivals-title{
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}

